.container {
  margin-top: 20px;
}

.custom-file-input {
  visibility: hidden;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.custom-file-label {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-file-label:hover {
  background-color: #0056b3;
}
