.card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.1875rem;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
		rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
		rgba(0, 0, 0, 0.07) 0px 16px 16px;
	/* width: 18.5rem; */
	height: 24.5rem;
	overflow: hidden; /* Add this line */
}

.card-img-actions {
	position: relative;
	text-align: center !important;
}
.card-head {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.1rem 1.25rem 0 1.25rem;
}

.card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.1rem 1.25rem;
}

.card-img {
	width: 350px;
}

.card-title {
	font-weight: 600;
	font-size: 1rem;
	text-align: center;
	color: #444447;
}

.card-img-actions {
	/* width: 60%; */
	/* background-color: #000000; */
	margin-top: 0.3rem;
}

.card-img-actions img {
	/* width: 20.5rem; */
	object-fit: contain;
	max-width: 100%;
	aspect-ratio: 16/9;
}

.card-title span {
	font-weight: 450;
	font-size: 1.1rem;
}

.card-body h5 {
	color: #1381d0;
	font-size: 0.9rem;
}

.card .card-details p {
	font-weight: 450;
	font-size: 0.9rem;
	color: #444447;
}

.card .card-details .item-certificate-code {
	font-size: 0.9rem;
}

@media only screen and (max-width: 992px) {
	.card-title {
		font-size: 0.9rem;
	}
}

@media only screen and (max-width: 768px) {
	.card-title span {
		font-size: 0.8rem;
	}
}

@media only screen and (max-width: 575px) {
	.card {
		margin: auto 8rem;
	}
}

@media only screen and (max-width: 525px) {
	.card {
		height: 22rem;
		margin: auto 2rem;
	}  
    
}
